* {
  margin: 0px;
  padding: 0px;
  font-family: "Noto Sans CJK KR";
}
a {
  text-decoration: none;
  color: #707070;
}
ul {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}
textarea {
  resize: none;
}
h4 {
  margin-bottom: 20px;
  height: 20px;
  font-size: 13px;
  color: #707070;
}
p {
  margin: 5px 0px;
  font-size: 12px;
  color: black;
}
footer { 
  clear: both; 
  text-align: center; 
  margin: 30px;
  padding: 20px; 
  /* border-top: 1px solid black;  */
}


/* 전체 헤더 */
#main-header {
  width: 1200px;
  height: 80px;
  margin: 50px 150px;
  margin-bottom: 30px;
  position: relative;
}
#logo {
  position: absolute;
  top: 30px;
  left: 10px;
  width: 180px;
  height: 36px;
}
#username {
  position: absolute;
  right: 15px;
  font-size: 12px;
  padding-bottom: 5px;
}
#username img {
  margin-left: 3px;
  width: 20px;
  height: 20px;
}
#menu-list {
  position: absolute;
  top: 35px;
  left: 220px;
}
#menu-list li {
  display: inline;
  margin: 30px;
  font-size: 15px;
}
#search {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 250px;
  border: 2px solid #707070;
  border-radius: 15px;
}
#searchKey {
  border: none;
  outline: none;
  background: none;
  padding: 5px 10px;
  font-size: 70%;
}
#search img {
  width: 10px;
  margin-left: 40px;
}


/* 메인 부분 */
.main-article {
  display: flex;
  flex-direction: column;
  margin: 20px 160px;
  padding: 10px;
}

/* 메인: 섹션1 영화 */
/* 섹션1: 헤더 */
.section1-header {
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.section1-header::first-letter {
  color: #6c63ff;
}
.section1-header-btn {
  float: right;
  font-size: 13px;
}
/* 섹션1: 내용 */
/* 내용: 좌측 이미지 */
.section1-img {
  float: left;
  width: 700px;
  height: 400px;
  margin: 10px;
}
/* 내용: 우측 정보 */
.section1-info {
  float: right;
  width: 400px;
  padding: 10px;
}
.info-title {
  font-size: 25px;
}
.info-details {
  margin: 20px 0px;
  font-size: 13px;
  color: #707070;
}
.info-details div {
  margin: 20px 0px;
}
.info-details span {
  display: inline-block;
  width: 130px;
  height: 20px;
}

/* 메인: 섹션2 뱃지, 리뷰 */
/* 섹션2: 테두리 */
.section2-bd {
  border-radius: 10px;
  margin: 20px 30px;
  padding: 20px;
}
/* 섹션2: 내용 */
.section2-contents {
  margin: 50px;
}
/* 섹션2: 좌측 이미지 */
.section2-img {
  float: left;
  margin-right: 20px;
}
.badge {
  width: 50px;
  height: 65px;
}
.profile {
  width: 60px;
  height: 60px;
}
.poster {
  width: 120px;
  height: 150px;
}
/* 섹션2: 우측 정보 */
.section2-info {
  padding: 5px 0px;
}
.info-main {
  font-size: 18px;
  font-weight: bold;
}
.info-sub {
  font-size: 15px;
}
.info-scores li {
  display: inline-block;
  margin: 20px 40px;
  margin-left: 0px;
  font-size: 13px;
  font-weight: bold;
}
.info-scores p {
  text-align: center;
  font-size: 17px;
  color: #6c63ff;
}

/* 메인: 섹션3 시각화 */
.section3-visualize {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.visualize-gallery {
  position: relative;
  margin-top: 30px;
  margin-right: 50px;
  width: 380px;
  height: 250px;
}

/* 메인: 섹션4 갤러리 */
.section4-gallery {
  position: relative;
  margin-top: 50px;
  margin-right: 50px;
  width: 600px;
  height: 400px;
}

/* 시각화, 갤러리: 이미지 슬라이드 */
.slide-btn {
  position: absolute;
  top: 45%;
  width: 25px;
  height: 25px;
  border-radius: 15px;
  text-align: center;
  background-color: black;
  opacity: 0.3;
  transition: 0.3s;
  cursor: pointer;
}
.slide-btn:hover{
  opacity: 0.8;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

/* 메인: 섹션5 캐스팅 */
/* 섹션5: 내용 */
.section5-contents {
  margin: 10px 0px;
}
/* 섹션5: 좌측 이미지 */
.section5-img {
    display: inline-block;
  width: 90px;
  height: 110px;
  margin-right: 20px;
}
/* 섹션5: 우측 정보 */
.section5-info {
  display: inline-block;
  vertical-align: top;
}
.info-name {
  font-size: 15px;
}
.info-cast {
  font-size: 13px;
  color: #707070;
}

/* 섹션6: 메인페이지 영화 목록1 가로형 */
.section6 {
  height: 340px;
  display: flex;
  overflow: hidden;
  overflow-x: auto;
}
.section6::after {
  content: "";
  clear: both;
  display: block;
}
/* 섹션6: 내용 */
.section6-contents {
  margin: 10px 8px;
  display: inline-block;
}
/* 섹션6: 위 포스터 */
.section6-img {
  width: 150px;
  height: 200px;
  margin-bottom: 15px;
}
/* 섹션6: 아래 정보 */
.section6-info {
  width: 150px;
  height: 40px;
}
.section6-info h4 {
  margin-bottom: 20px;
  height: 20px;
  font-size: 13px;
  color: #707070;
}
.section6-score {
  display: flex;
  justify-content: space-between;
}
.section6-score p {
  display: inline;
}

#preview {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 섹션7: 메인페이지 영화 목록2 세로형 */
.section7 {
  margin: 0px 10px;
  display: block;
}
.section7-contents {
  display: flex;
  height: 200px;
  margin-bottom: 20px;
}
/* 섹션7: 왼쪽 포스터 */
.section7-img {
  width: 150px;
  height: 200px;
  margin-right: 15px;
}
.section7-info {
  display: grid;
  padding: 10px 0px;
}
.section7-info .info-details {
  margin: 10px 0px;
}
.info-badge {
  width: 20px;
  height: 20px;
  margin: 10px 0px;
}
.info-review {
  margin-top: auto;
  font-size: 13px;
}
.info-review::first-letter {
  color: #6c63ff;
}
.section7-score {
  margin-left: auto;
}

/* 리뷰 작성 */
.user-review {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.review-form {
  margin-right: 30px;
  float: left;
}
#comment {
  border: 2px solid #9c9c9c;
  border-radius: 15px;
  outline: none;
  padding: 30px;
}
.score-form {
  float: left;
}
.evaluation-standard {
  background-color: #bcbcbcc0;
  border-radius: 30px;
  width: 440px;
  height: 50px;
  margin: 10px;
}
.evaluation {
  display: inline-block;
}
.criteria {
  font-weight: bold;
  color: #303030;
  margin: 12px 20px;
}
.submit-cancel {
  margin: 20px;
  margin-left: auto;
  margin-right: 20px;
}
.button {
  display: inline-block;
  margin: 10px;
}
.cancel-button {
  border: 2px solid black;
  border-radius: 20px;
  outline: none;
  background-color: white;
  width: 130px;
  height: 30px;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
}
.cancel-button a {
  display: inline-block;
  width: 130px;
  height: 30px;
}
#submit {
  border: 2px solid #6c63ff;
  border-radius: 20px;
  outline: none;
  background-color: #6c63ff;
  color: white;
  width: 130px;
  height: 35px;
  font-weight: bold;
}


/* 로그인, 회원가입 페이지 */
.login-section {
  width: 350px;
  left:0;
  right:0;
  margin: 50px;
  margin-left:auto;
  margin-right:auto;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.22);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.22);
  padding: 60px 30px;
}
.login-section h1 {
  text-align: center;
  margin-bottom: 40px;
}
.login-input {
  width: 270px;
  border-bottom: 2px solid #adadad;
  margin: 30px;
  padding: 10px 10px;
}
.login-input input {
  border: none;
  outline: none;
  background: none;
}
.signin-button {
  border: none;
  background: none;
  margin: 10px 30px;
  font-size: 12px;
}
a.signin:link,
a.signin:visited {
  color: #707070;
  opacity: 0.5;
  transition: 0.3s;
}
a.signin:hover,
a.signin:active {
  color: #707070;
  opacity: 1;
}
.login-button {
  display: flex;
  flex-direction: column;
}
.login-button button {
  height: 40px;
  margin: 5px 30px;
  border-radius: 4px;
  border: none;
  background-color: #6c63ff;
  color: white;
  opacity: 0.8;
  transition: 0.3s;
  cursor: pointer;
}
.login-button button:hover {
  opacity: 1;
}